{% extends "layouts/base.html" %}

{% block title %}Resumen {% endblock %}

{% block content %}

<!-- Page Content-->
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resumen</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2021 - Present</div>
                                    <div class="small fw-bolder">Web Developer</div>
                                    <div class="small text-muted">realtapitas Industries</div>
                                    <div class="small text-muted">Zipaquira</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>No se que toca escribir en este lado pero lo estoy
                                 llenando con lo que se me va ocurriendo en la mente solo para tener un texto
                                  extenso y que pierdan el tiempo leyendo esto</div></div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                    <div class="small fw-bolder">No se</div>
                                    <div class="small text-muted">Industrial</div>
                                    <div class="small text-muted">Bogota, Co</div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Otra barra de texto que toca llenar pero no tengo ni idea que ponerle
                                debido que no se en que quiero enfocar las barras y ya
                            </div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Educacion</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">pasado - 2020</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Instituto tecnico industrial</div>
                                        <div class="small text-muted">Zipaquira</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Bachiller Tecnico</div>
                                        <div class="small text-muted">Metalmecanico</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                Aqui debo escribir que estudie en el colegio y que me gradue y que el titulo dice pasado por que sabra 
                                diosito cuando fue que entre a estudiar y que pereza ponerme a calcular el cuando.
                            </div></div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2021 - Presente</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">UMB</div>
                                        <div class="small text-muted">Bogota, CO</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">En curso</div>
                                        <div class="small text-muted">Ingeniero de Software</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>
                                Aqui toca escribir que estoy estudiando para hacer este proyecto y que esta interesante 
                                debido que es una de las cosas que me llama la atencion por lo cual le intente dar amor a la pagina 
                                por falta de tiempo y por que son muchas lineas de codigo en el css.

                            </div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Habilidades Porfesionales</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Metalmecanico</div></div>
                                <!--<div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"></div></div>-->
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Network Security</div></div>
                                <!--<div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adobe Software Suite</div></div>-->
                                <!--<div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>-->
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                <!--<div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>-->
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                <!--<div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ruby</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Node.js</div></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</main>
</body>

{% endblock %}