{% extends "layouts/base.html" %}

{% block title %}Resumen {% endblock %}

{% block content %}

<!-- Page Content-->
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Terminos</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Experience Section-->
                <!-- ... (Tu código actual) ... -->

                <!-- Education Section-->
                <!-- ... (Tu código actual) ... -->

                <!-- Divider-->
                <div class="pb-5"></div>
                
                <!-- Skills Section-->
                <!-- ... (Tu código actual) ... -->

                <!-- Términos y Condiciones Section-->
                <section>
                    <h2 class="text-primary fw-bolder mb-4">Términos y Condiciones</h2>
                    <p>Aquí puedes agregar tus términos y condiciones. Puedes utilizar el siguiente formato como punto de partida:</p>
                    <ol>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>...</li>
                        <!-- Agrega más puntos según sea necesario -->
                    </ol>
                </section>
            </div>
        </div>
    </div>
</main>
</body>

{% endblock %}
