{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Reseñas{% endblock %}

{% block content %}

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <div class="container px-5 my-5">
            <!-- Submit Button-->
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h2 class="text-primary fw-bolder mb-0">Testimonios</h2>
                <!-- Download resume button-->
                <!-- Note: Set the link href target to a PDF file within your project-->
                <a class="btn btn-reseña px-4 py-3" href="{% url 'agregar_testimonio' %}">
                    <div class="d-inline-block bi bi-clipboard2-plus me-2"></div>
                    Agregar Testimonio
                </a>
            </div>

            {% for p in testimonios %}


            <!-- Project Card -->
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                <div class="card-body p-0">
                    <div class="d-flex align-items-center">
                        <div class="p-5">
                            <p>{{p.date}}</p>
                            <h2 class="fw-bolder">{{p.nombre}}</h2>   
                        </div>
                        <div class="p-6">
                            <h2 class="fw-bolder2">{{p.testimonio}}</h2> 
                        </div>
                        
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </main>
</body>
{% endblock %}